# Do NOT use this for actual deployments. This file should only be used
# for validating the docker image and build.

services:
  redis:
    image: redis:8.4-alpine
    container_name: redis
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
    command: ['redis-server', '--appendonly', 'yes']
    restart: unless-stopped

  postgres:
    image: postgres:18.1-alpine
    container_name: postgres
    ports:
      - '5432:5432'
    environment:
      POSTGRES_DB: hopper
      POSTGRES_USER: user
      POSTGRES_PASSWORD: PasswordSAMPLE
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U user -d hopper']
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  app:
    container_name: hopper
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '8080:8080'
    environment:
      NODE_ENV: production
      CI: false
      DB_URL: 'postgresql://user:PasswordSAMPLE@postgres:5432/hopper'
      DB_POOL_SIZE: 40
      DB_CONN_TIMEOUT_MS: 30000
      DB_LOGS_ENABLED: false
      LOG_SILENCE: false
      SERVER_PORT: 8080
      SERVER_TIMING_DEBUG: false
      SERVER_TIMEOUT_MS: 5000
      SERVER_MAX_BODY_SIZE_KB: 256
      SERVER_CORS_ORIGIN: example.com
      SERVER_ERROR_DEBUG: false
      REDIS_URL: 'redis://redis:6379/0'
      SMTP_HOST: smtp.ethereal.email
      SMTP_PORT: 587
      SMTP_USER: someone@ethereal.email
      SMTP_PASS: PasswordSAMPLE
      SMTP_TLS_ENABLED: true
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
    restart: unless-stopped

volumes:
  redis_data:
  postgres_data:
