name: GitHub CodeQL

on:
  pull_request:
    branches:
      - main
      - release/*
    types:
      - opened
      - reopened
      - synchronize
      - edited
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: my-workflow-${{ github.ref }}
  cancel-in-progress: false

jobs:
  code-quality:
    name: Check code quality
    runs-on: ubuntu-latest

    permissions:
      security-events: write
      packages: read
      actions: read
      contents: read

    strategy:
      fail-fast: false
      matrix:
        language: ['javascript-typescript']

    steps:
      - uses: actions/checkout@v6
        name: Checkout the code repository

      - uses: github/codeql-action/init@v4
        name: Initialize GitHub CodeQL
        with:
          languages: ${{ matrix.language }}

      - uses: github/codeql-action/analyze@v4
        name: Perform CodeQL analysis
        with:
          category: '/language:${{ matrix.language }}'
