name: Pull request validation

on:
  pull_request:
    branches:
      - main
      - release/*
    types:
      - opened
      - reopened
      - synchronize
      - edited

env:
  NODE_ENV: test
  CI: true

  DB_URL: 'postgresql://user:PasswordSAMPLE@localhost:5432/hopper'
  DB_POOL_SIZE: 40
  DB_APP_NAME: integration
  DB_QUERY_TIMEOUT_MS: 10000
  DB_CONN_TIMEOUT_MS: 30000
  DB_LOGS_ENABLED: false

  LOG_SILENCE: false

  SERVER_PORT: 8001
  SERVER_TIMING_DEBUG: false
  SERVER_TIMEOUT_MS: 30000
  SERVER_MAX_BODY_SIZE_KB: 256
  SERVER_CORS_ORIGIN: example.com
  SERVER_ERROR_DEBUG: false

  REDIS_URL: 'redis://localhost:6379/0'

  SMTP_HOST: smtp.ethereal.email
  SMTP_PORT: 587
  SMTP_USER: someone@ethereal.email
  SMTP_PASS: PasswordSAMPLE
  SMTP_TLS_ENABLED: true

  REVISION: ${{ github.event.pull_request.head.sha }}

jobs:
  pull-request-sanity:
    name: Pull request sanity
    runs-on: ubuntu-latest

    permissions:
      contents: read
      actions: read
      pull-requests: write

    steps:
      - uses: actions/checkout@v6
        name: Checkout the code repository
        with:
          fetch-depth: 0

      - run: |
          docker pull zricethezav/gitleaks:latest
          docker run -v ./:/path zricethezav/gitleaks:latest git --platform github /path
        name: Check for leaked secrets

      - uses: oven-sh/setup-bun@v2
        name: Install bun runtime
        with:
          bun-version-file: '.bun-version'

      - run: |
          bun install --frozen-lockfile
          bun install -g @commitlint/cli @commitlint/config-conventional
        name: Install dependencies

      - run: echo "${{ github.event.pull_request.title }}" | bunx commitlint
        name: Check pull request title

      - uses: actions/github-script@v7
        name: Update pull request title
        with:
          script: |
            const pr = context.payload.pull_request;
            await github.rest.pulls.update({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: pr.number,
              title: `${pr.title} (#${pr.number})`
            });

      - run: bunx validate-branch-name -t ${{ github.event.pull_request.head.ref }}
        name: Check branch naming convention

      - run: |
          npx commitlint \
            --from ${{ github.event.pull_request.base.sha }} \
            --to ${{ github.event.pull_request.head.sha }} --verbose
        name: Check commit messages in pull request

  code-sanity:
    name: Code sanity
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        name: Checkout the code repository

      - uses: oven-sh/setup-bun@v2
        name: Install bun runtime
        with:
          bun-version-file: '.bun-version'

      - run: bun install --frozen-lockfile
        name: Install dependencies

      - run: bun run format:check
        name: Check for formatting errors

      - run: bun run lint:check
        name: Check for lint errors

      - run: bun run typecheck
        name: Check for type errors

      - run: bun run build
        name: Transpile the application

  database-check:
    name: Check database and entity sanity
    runs-on: ubuntu-latest

    needs:
      - pull-request-sanity
      - code-sanity

    services:
      postgres:
        image: postgres:18.1-alpine
        env:
          POSTGRES_USER: user
          POSTGRES_PASSWORD: PasswordSAMPLE
          POSTGRES_DB: hopper
        ports:
          - 5432:5432

      redis:
        image: redis:8.4-alpine
        ports:
          - 6379:6379

    steps:
      - uses: actions/checkout@v6
        name: Checkout the code repository

      - uses: oven-sh/setup-bun@v2
        name: Install bun runtime
        with:
          bun-version-file: '.bun-version'

      - run: bun install --frozen-lockfile
        name: Install dependencies

      - run: make migration:apply
        name: Apply all pending migrations

      - run: make seeder:apply
        name: Apply all pending seeders

      - run: |
          set +e
          make migration:generate name="update-database-schema-in-test"
          code=$?

          set -e

          if [ "$code" -eq 0 ]; then
            echo "Schema deviation identified. Please check if the entities and migrations are aligned."
            exit 1
          fi
        name: Evaluate database schema deviation

  test:
    name: Run tests
    runs-on: ubuntu-latest

    needs:
      - database-check

    permissions:
      contents: read

    services:
      postgres:
        image: postgres:18.1-alpine
        env:
          POSTGRES_USER: user
          POSTGRES_PASSWORD: PasswordSAMPLE
          POSTGRES_DB: hopper
        ports:
          - 5432:5432

      redis:
        image: redis:8.4-alpine
        ports:
          - 6379:6379

    strategy:
      fail-fast: false
      matrix:
        include:
          - branch: main
            artifact: main
          - branch: ${{ github.event.pull_request.head.ref }}
            artifact: pull-request

    steps:
      - uses: actions/checkout@v6
        name: Checkout the code repository
        with:
          ref: ${{ matrix.branch }}

      - uses: oven-sh/setup-bun@v2
        name: Install bun runtime
        with:
          bun-version-file: '.bun-version'

      - run: bun install --frozen-lockfile
        name: Install dependencies

      - run: make test:coverage
        name: Run test cases and collect stats
        env:
          LOG_SILENCE: true

      - run: rm -rf node_modules
        if: ${{ !cancelled() }}
        name: Remove unnecessary folders/files

      - uses: actions/upload-artifact@v5
        name: Upload artifact for ${{ matrix.branch }}
        if: ${{ !cancelled() }}
        with:
          name: folder-${{ matrix.artifact }}
          path: .

  test-report:
    name: Report tests
    runs-on: ubuntu-latest

    needs:
      - test

    if: ${{ !cancelled() }}

    permissions:
      contents: read
      actions: read
      pull-requests: write
      checks: write

    steps:
      - uses: actions/checkout@v6
        name: Checkout the code repository

      - uses: actions/download-artifact@v6
        name: Download coverage artifacts for pull request
        with:
          name: folder-pull-request
          path: folder

      - uses: actions/download-artifact@v6
        name: Download coverage artifacts for default branch
        with:
          name: folder-main
          path: folder-main

      - uses: davelosert/vitest-coverage-report-action@v2
        name: Report code coverage to pull request
        with:
          vite-config-path: folder/vitest.config.ts
          file-coverage-mode: changes-affected
          json-summary-path: folder/coverage/coverage-summary.json
          json-final-path: folder/coverage/coverage-final.json
          json-summary-compare-path: folder-main/coverage/coverage-summary.json

      - name: Publish test results
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          files: |
            folder/*.xml
          check_name: Test result
